i {
  position: absolute;
  top: 40%;
  right: 5%;
}
i:hover {
  color: #00fcb6;
  cursor: pointer;
}

i.login {
  position: absolute;
  top: 20%;
  right: 5%;
}
i.login:hover {
  color: #00fcb6;
  cursor: pointer;
}